.imageNav-photo{
    width: 175px;
}

.imageNav-header{
    margin-top: 20px;
    color: #0b9994;
}

.description-header{
    color: #0b9994;
}

.navbar-nav{
    color: white;
}

.navbar{
    background-color: #0b9994;
}

.navbar-brand{
    align-content: left;
    margin-left: 40px;
    color: white;
    text-emphasis-style: bold;
}

#navbarDropdownMenuLink{
    color: white;
}

.nav-link{
    color: white;
}

#description-image{
    width: 300px;
}

.floated{
    float: left;
}

.description-content{
    padding: 20px;
    margin: 20px;
}

.main-visual{
    border: 5px, block,black;
}

.description-header{
    color: #0b9994;
    margin-top: 20px;
}

#datatable{
    padding: 15px;
}

.compare-title{
    color: #0b9994;
    align-self: center;
}

.compare-photo{
    width: 200px;
    align-self: center;
}